
.App {
   text-align: center;
   background-image: url("../public/rick-and-morty-portal.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh;   
   /* height: 91.9vh; */
   overflow: auto;
}
