.divContainer{
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-start;
}

@media (max-width: 550px) {
    .divContainer{
        display: flex;    
        justify-content: center; 
    }
}