.divContainer {    
    background-color: #0d2944;
    width: fit-content;
    position: relative;
    padding: 1em;
    padding-top: 0em;
    margin: 18px;
    margin-top: 2em;
    margin-bottom: 0em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;    
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
}

.closeButton{
    border: 0px;    
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border-radius: 10px;
    margin: 16px;
}

.closeButton:hover{
    background-color: red;
    color: #000000;
    transition: .9s ease all;
}

.divContainer h3 {
    font-size: 15px;
    margin: 6px;
    color: rgb(249, 250, 249);
    text-shadow: -1px 0px 8px rgb(27, 255, 1);
    font-weight: 400;
}

.divContainer img{
    border: 1px solid #26235c;
    width: 200px;
    margin-top: 20px;
    border-radius: 15%;
}