
.add {    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #133ba9;
    font-size: 13px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
    width: 140px;
    height: 25px;
    border-radius: 10px;
    border: 0px;
    margin: 2em;
    margin-left: 0px;
    margin-right: 8em;
 }
 
 .add span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  
 }
 
 .add::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 56%;
    transition: .5s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
 }

 .add span:hover{
   color: black;
   transition: .9s ease-in-out all;

 }
 
 .add:hover::after {
    transform: scale(100);
    background: #11ff00;
 }