
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.containAbout{
    display: flex;    
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #0d2944;
    width: 75%;
    padding: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 40px;
    box-shadow: 0px 0px 15px 7px rgba(21, 255, 0, 0.411);
    min-width: 200px;
    max-width: 550px;
}

@media (max-width: 800px) {
    .containAbout{
        flex-direction: column;
        padding: 1em;
    }
}

.containAbout h1{
    margin: 30px;
    font-size: large;
    color: white;
    font-size: 50px;
    margin: 6px;
    color: rgb(249, 250, 249);
    text-shadow: -1px 0px 8px rgb(27, 255, 1);
    font-weight: 400;
}

.containAbout img{
    width: 10rem;
    margin: 30px;
}

@media (max-width: 800px) {
    .containAbout img{
        margin: 0px;
    }
}

.containAbout p{
    margin: 30px;
    font-size: large;
    color: white;
    font-size: 25px;
    margin: 6px;
    color: rgb(249, 250, 249);
    text-shadow: -1px 0px 8px rgb(27, 255, 1);
    font-weight: 400;
}

.containIcon{
    display: flex;    
    justify-content: flex-end;
    flex-direction: row;
}

.icon{
    color: white; 
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
