.navContainer{
    background-color: #0d2944;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}

.img{
    width: 200px;
    margin-right: 9em;
}